body {
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  img {
    max-width: none;
    height: 100%;
  }
}

ul {
  .reset();
  list-style-type: none;
}

input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

h2 {
  padding-left: 30px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400px;
  text-transform: uppercase;
  text-shadow: 0px 5px 16.92px rgba(0, 0, 0, 0.1);
}

h3 {
  padding-left: 30px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 5px 16.92px rgba(0, 0, 0, 0.1);
}
