body {
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  img {
    max-width: none;
    height: 100%;
  }
}

ul {
  .reset();
  list-style-type: none;
}

input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
