.btn {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    transition: ease-out 0.3s;
  }
}

.btn-full {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    opacity: 0.5;
    transition: ease-out 0.3s;
  }
}

.btn-blue {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(39,116,254);
  background-image: linear-gradient(to top, rgb(39,116,254) 0%, rgb(26,95,218) 100%);
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    opacity: 0.8;
    transition: ease-out 0.3s;
  }
}

.btn-grey {
  font-size: 10px;
  font-weight: 700;
  color: #bababa;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    opacity: 0.8;
    transition: ease-out 0.3s;
  }
}
