.footer__bottom {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(243, 242, 241, 0.3);
}

.footer__laylay {
  opacity: 0.3;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    opacity: 1;
    transition: ease-out 0.3s;
  }
}

.footer__top {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  h3 {
    font-size: 10px;
    font-weight: 700;
    padding-left: 0;
  }
  
  p,
  a {
    color: rgba(255,255,255,0.5);
    transition: ease-out 0.3s;
  }
  
  a:hover,
  a:active {
    color: rgba(255,255,255,1);
    transition: ease-out 0.3s;
  }
}

.footer__logo {
  width: 666px;
}

.footer__subscribe {
  margin-top: 40px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer__input {
  width: 380px;
  margin-right: 15px;
  padding-left: 17px;
  padding-right: 17px;
  color: #fff;
  letter-spacing: 1px;
  background-color: rgba(255,255,255,0);
  border-bottom: 2px solid rgba(243, 242, 241, 0.3);
  
  &::placeholder {
    opacity: 0.3;
  }
}

.footer__btn {
  width: 266px;
  height: 36px;
  color: rgba(255,255,255,0.3);
  transition: ease-out 0.3s;
}
