.footer__bottom {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(243, 242, 241, 0.3);
  
  p {
    letter-spacing: 2px;
  }
}

.footer__laylay {
  margin-right: 60px;
  opacity: 0.3;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    opacity: 1;
    transition: ease-out 0.3s;
  }
}

.footer__top {
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  h3 {
    font-size: 10px;
    font-weight: 700;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }
  
  p,
  a {
    color: rgba(255,255,255,0.5);
    transition: ease-out 0.3s;
  }
  
  a:hover,
  a:active {
    color: rgba(255,255,255,1);
    transition: ease-out 0.3s;
  }
}

.footer__logo {
  width: 670px;
  margin-right: 28px;
  
  .logo {
    margin-left: 13px;
    margin-top: -15px;
  }
}

.footer__subscribe {
  margin-top: 45px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer__input {
  width: 380px;
  margin-right: 20px;
  margin-bottom: 3px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 5px;
  color: #fff;
  letter-spacing: 3px;
  background-color: rgba(255,255,255,0);
  border-bottom: 2px solid rgba(243, 242, 241, 0.3);
  
  &::placeholder {
    opacity: 0.3;
  }
  
  &:focus {
    border-bottom: 2px solid #fff;
  }
}

.footer__btn {
  width: 270px;
  height: 40px;
  color: rgba(255,255,255,0.3);
  transition: ease-out 0.3s;
}

.footer__contacts {
  p {
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  a {
    letter-spacing: 1px;
  }
}

.footer__social {
  margin-left: auto;
  margin-right: 10px;
  
  .social-btns {
    justify-content: flex-start;
  }
}
