.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  
  p {
    margin: 0;
    padding-left: 2px;
    padding-top: 6px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  img {
    display: block;
  }
}

.title__btns,
.title__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__list {
  width: 18px;
  height: 10px;
  margin-top: 5px;
  background-image: url(../img/icon-list.png);
  background-repeat: no-repeat;
  opacity: 0.3;
  position: relative;
  
  &::after {
    content: "/";
    position: absolute;
    top: -2px;
    right: -23px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }
  
  &:hover,
  &:active {
    opacity: 1;
  }
}

.title__plate {
  width: 19px;
  height: 14px;
  margin-top: 5px;
  margin-right: 30px;
  margin-left: 40px;
  background-image: url(../img/icon-plate.png);
  background-repeat: no-repeat;
  opacity: 0.3;
  
  &:hover,
  &:active {
    opacity: 1;
  }
}

.title__btn-active {
  opacity: 1;
}
